.container{

    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;

}


.MyInput{

    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 130%;
}